<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="fontaswome/css/all.css" />
    <link rel="stylesheet" href="custom/css/navbar.css" />
</head>
<body>
    <div class="d-grip gap-3">
        <h1 class="p-3">Input New Data</h1>
    </div>
    <form class="p-3" action="/add" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" name="inputName" required>
            <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
        </div>
        <div class="form-group mb-3">
            <label for="inputPhone">Phone Number</label>
            <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" value="+62" name="inputPhone" required>
        </div>
        <div class="form-group mb-3">
            <label for="inputPicture">Picture</label>
            <input type="file" class="form-control-file" id="inputPicture" name="inputPicture" accept='image/*'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="fontaswome/js/all.js"></script>
</body>