<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="fontaswome/css/all.css" />
    <link rel="stylesheet" href="custom/css/navbar.css" />
</head>
<body>
    <div class="d-grip gap-3">
        <h1 class="p-3">All Data</h1>
    </div>
    <div class="table-responsive p-3">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th class="text-light">Name</th>
                    <th class="text-light">Phone Number</th>
                    <th class="text-light">Picture</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < data['sum']; i++) { %>
                <tr>
                    <td>
                        <%= data['name'][i] %>
                    </td>
                    <td>
                        <%= data['phone'][i] %>
                    </td>
                    <td>
                        <img src="uploads/<%= data['image'][i] %>" width="50" height="50" />
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="fontaswome/js/all.js"></script>
</body>