<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Testing Phone Book Apps</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="fontaswome/css/all.css" />
        <link rel="stylesheet" href="custom/css/navbar.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                        <i class="fas fa-phone-square-alt"></i>
                    </span>
                    <span>Phone Book</span>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navcol-5" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a id="dashboard" class="nav-link active" href="javascript:javascript:void(0)" onclick="changeIframe('/all')">All Data</a>
                        </li>
                        <li class="nav-item">
                            <a id="add" class="nav-link" href="javascript:javascript:void(0)" onclick="changeIframe('/add')">Add Number</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <iframe id="iframe" src=<%= src_uri %> style="border: 0; width: 100%; height: 100%"></iframe>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="fontaswome/js/all.js"></script>
        <script src="custom/js/script.js"></script>
    </body>
</html>